* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 80px;
}

.settings-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: capitalize;
}

.setting {
    display: flex;
    align-items: center;
    gap: 30px;
}

.settings-panel label {
    font-size: 1.5rem;
}

.settings-panel input[type="range"] {
    width: 150px;
    cursor: pointer;
}

.settings-panel input[type="color"] {
    border: none;
    cursor: pointer;
}

.preview-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s;
}


/****************************/
/*        RESPONSIVE        */
/****************************/
@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }
}